#msg {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 16px;
    display: flex;
    align-items: center;
    max-width: calc(100% - 64px);
    border: 1px solid;
    z-index: 99;
}

#msg[data-type="error"] {
    border-color: #ff2424;
}

#msg[data-type="success"] {
    border-color: #31d128;
}

/* Modal */

.modal {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: auto;
    background: #f1f1f182;
    backdrop-filter: blur(12px);
    z-index: 9999;
}

.modal .modal_body {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}